/* projects */
.projects{
    padding-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.projects h2{
    position: absolute;
    padding-bottom: 100px;
    transform: translate(0, -30px);

}
.projects__card{
    transform: scale(.8);
    background: radial-gradient(rgba(255,255,255,.5) , rgba(255,255,255,.1));
    min-height: 300px;
    width: 400px;
    padding: 15px;
    padding-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px ;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.projects__card img{
    width: 150px;
}

@media screen and (max-width: 450px) {
    .projects__card{
        width: 90vw;
        margin-bottom: 100px;
    }
}
